:host {
  height: 100%;
  display: grid;
  align-content: center;
  grid-template-columns: auto auto;
  text-align: center;
  font-size: 2vw;
}

div {
  padding: 20px 0;
  background: #dcd6d6;
  border: 1px solid #fff;
}

div:hover {
  background: #d6cfcf;
}
