<h4>Create - Edit project</h4>

<div class="dialog-container">
    <mat-form-field>
        <input matInput placeholder="Name" [formControl]="nameFormControl">
    </mat-form-field>

    <mat-form-field>
        <input matInput placeholder="Team Size" [formControl]="teamSizeFormControl">
    </mat-form-field>

    <mat-form-field>
        <input matInput placeholder="Customer Name" [formControl]="customerNameFormControl">
    </mat-form-field>

    <div mat-dialog-actions class="center-btn">
        <button class="btn btn-secundary" (click)="onNoClick()">Cancel</button>

        <button class="btn btn-secundary" mat-button [mat-dialog-close]="getProjectPayload()">Save</button>
    </div>

</div>
