<h1 mat-dialog-title>{{editOrCreate}} employee</h1>
<div mat-dialog-content>
  <mat-form-field>
    <input matInput placeholder="Name" [formControl]="nameFormControl">
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Company" [formControl]="companyFormControl">
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Age" [formControl]="ageFormControl">
  </mat-form-field>

  <mat-form-field>
    <input matInput [matDatepicker]="picker" placeholder="Choose a date" [formControl]="birthdayFormControl">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>

  <mat-form-field>
    <mat-select placeholder="Favorite Color" name="color" [formControl]="favoriteColorFormControl">
      <mat-option *ngFor="let color of colorList$ | async" [value]="color.id">
        {{ color.name }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field>
    <mat-select placeholder="Projects" [formControl]="projectFormControl" name="project">
      <mat-option *ngFor="let project of projects$ | async" [value]="project.id">
        {{ project.name }}
      </mat-option>
    </mat-select>
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-raised-button (click)="onNoClick()">Cancel</button>
  <button mat-raised-button color="primary" [mat-dialog-close]="getEmployeePayload()" [disabled]="!createProjectForm.valid">Save</button>
</div>
